BasedOnStyle: Chromium
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
IncludeBlocks: Merge
IndentGotoLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: true
JavaScriptQuotes: Double
NamespaceIndentation: Inner
PointerAlignment: Right
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
Standard: Latest
TabWidth: 4
